# Nasra – Data Architect: ETL Pipeline
**Hackathon Project** | Day 1

This notebook documents the Extract, Transform, and Load (ETL) pipeline implementation for the Car Price Analysis project. As the assigned data architect, my responsibility is to clean, transform, and prepare the dataset for analysis and visualisation.

## 1. Import Required Libraries

We begin by importing the essential libraries for data processing, visualisation, and feature engineering.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Optional settings for better display
pd.set_option('display.max_columns', None)
sns.set_theme(style='whitegrid')

## 2. Load the Raw Dataset

We load the original CSV dataset provided. This will be the basis for the data transformation process.
We also include a check to ensure the file exists and provide helpful feedback if it doesn't.

In [8]:
import os
import pandas as pd

# Correct path to the CSV file inside the 'data' folder
file_path = '../data/CarPrice_Assignment.csv'

# Check if file exists in the 'data' directory
if not os.path.isfile(file_path):
    print("❌ File not found. Files in 'data' folder:")
    print(os.listdir('data'))  # Optional: show what's inside 'data' folder
else:
    df = pd.read_csv(file_path)
    df.head()

## 3. Initial Data Exploration

We'll inspect the dataset structure, check for missing values, and identify any duplicate records. This helps us understand data quality before proceeding.

In [10]:
# Dataset info: columns, data types, non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [11]:
# Check for missing values per column
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [12]:
# Count duplicate rows
print(f"Duplicate rows: {df.duplicated().sum()}")

Duplicate rows: 0

## 4. Data Cleaning
We will clean the data by:
- Standardising column names to lowercase with underscores
- Dropping duplicate rows
- Handling missing values (dropping rows with any nulls for simplicity)

In [ ]:
# Standardise column names
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Drop duplicate records
df = df.drop_duplicates()

# Drop rows with missing values (can be adapted to fillna if needed)
df = df.dropna()

df.head()

,car_id,symboling,carname,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

## 5. Feature Engineering
We add a new feature: **price_per_cc** which calculates price per cubic centimeter of engine size — this serves as a basic price-to-performance indicator.

In [14]:
if 'price' in df.columns and 'enginesize' in df.columns:
    df['price_per_cc'] = df['price'] / df['enginesize']

df[['price', 'enginesize', 'price_per_cc']].head()

     price  enginesize  price_per_cc
0  13495.0         130    103.807692
1  16500.0         130    126.923077
2  16500.0         152    108.552632
3  13950.0         109    127.981651
4  17450.0         136    128.308824

## 6. Save Cleaned Dataset
We save the cleaned and transformed dataset into a new CSV file (`cleaned_stage1.csv`). This output will be used by the Data Analyst for further exploration and visualisation.

In [18]:
output_path = '../data/cleaned_data_stage1.csv'
df.to_csv(output_path, index=False)
print(f"Cleaned dataset saved to: {output_path}")

Cleaned dataset saved to: ../data/cleaned_data_stage1.csv

## 7. Summary of ETL Tasks Completed
- ✅ Loaded raw data from CSV
- ✅ Profiled data structure, missing values, and duplicates
- ✅ Standardised column names
- ✅ Removed duplicates and missing rows
- ✅ Engineered new feature: `price_per_cc`
- ✅ Saved cleaned dataset for analysis

This concludes the ETL portion handled by the Data Architect. The dataset is now prepared for the Data Analyst's work.